@{

    RootModule = 'DSC_Composite.schema.psm1'

    ModuleVersion = '0.0.1'

    GUID = '7f87e57b-c53f-4703-8cec-491bb6691d30'

    CompanyName = 'MW'

    Author = 'gaelcolas'

    Copyright = 'Yall'
}
