[DscResource()]
class DSC_<%=$PLASTER_PARAM_ResourceName.TrimStart('DSC_')%>
{
    [DscProperty(Mandatory)]
    [Ensure] $Ensure

    [DscProperty(Key)]
    [string] $Name

    [DscProperty()]
    [Reason[]] $Reasons

    [void] Set()
    {
        # Do something
    }

    [DSC_<%=$PLASTER_PARAM_ResourceName.TrimStart('DSC_')%>] Get()
    {
        return $this
    }

    [bool] Test()
    {
        return $true
    }
}
